<div class="runtime-screen">
    <div class="runtime-panel alarm-banner" [class.has-active]="activeCount > 0">
        <mat-icon>warning</mat-icon>
        <span>{{activeCount}} unacknowledged alarm(s)</span>
    </div>

    <div class="runtime-panel">
        <h2 class="runtime-panel-title">Alarm Log</h2>
        <table class="runtime-table">
            <thead>
                <tr>
                    <th>Time</th>
                    <th>Tag</th>
                    <th>Description</th>
                    <th>Severity</th>
                    <th>Ack</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let alarm of alarms">
                    <td>{{alarm.time}}</td>
                    <td>{{alarm.tag}}</td>
                    <td>{{alarm.description}}</td>
                    <td>
                        <span class="status-dot" [style.background]="severityColor(alarm.severity)"></span>{{alarm.severity}}
                    </td>
                    <td>
                        <mat-icon *ngIf="alarm.acked">check_circle</mat-icon>
                        <mat-icon *ngIf="!alarm.acked">radio_button_unchecked</mat-icon>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
