:host {
    display: block;
    height: 100%;
    width: 100%;
}

.runtime-view-container {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
}

.runtime-view-body {
    display: table;
    margin: 0 auto;
}
